bin/
include/
lib/
__pycache*
.Python

*.pyc
*.pyo

*.egg
*.egg-info

build/
dist/
docs/_build/
testapp/env/
.venv*/
tests/test_files/

__pycache__/
.tox/

MANIFEST

.coverage
.python-version
.DS_Store