[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
olefile = "*"
matplotlib = "*"
pyaltium = {editable = true, path = "."}

[dev-packages]
black = "*"
isort = "*"
pytest = "*"
pylint = "*"
tox = "*"
pre-commit = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
flake8 = "*"
flake8-bugbear = "*"
rstcheck = "*"
tox-pipenv = "*"
mypy = "*"

[requires]
python_version = "3.10"
