[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
olefile = "*"
matplotlib = "*"

[dev-packages]
black = "*"
isort = "*"
pytest = "*"
pyaltium = {editable = true, path = "."}
pylint = "*"
tox = "*"
pre-commit = "*"

[requires]
python_version = "3.10"
